:root {
    --color-Grey: #616161;
    --color-lightGrey: #8e8e8e;
    --color-darkGrey: #373737;
    --color-blueGrey: #90a4ae;
    --color-lightBlueGrey: #c1d5e0;
    --color-darkBlueGrey: #62757f;
}

#navbar { 
    background-color: #a4bbcb;
    color: black;
}

.navbar__upper{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 0px;
}

.navbar__title{
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
    
}

#navbar__title__logo{
    color: var(--color-darkGrey);
    margin: 10px;
}

.navbar__userInfo{
    display: flex;
    align-items: center;
    background-color: white;
    margin: 10px;
    
}

.navbar__userInfo__left{
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
}

#navbar__userInfo__logo{
    font-size: 40px;
    color: blue;
    margin: 0;
    padding: 11px 20px;
    
}

.navbar__userInfo__logout{
    margin: 5px 5px;
}

.navbar__userInfo__profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 15px;
    margin: auto;
    background-color: var(--color-lightBlueGrey);
}

.navbar__userInfo__name{
    margin: 10px;
}

.navbar__under{
    display: flex;
    justify-content:space-around;
    align-content: center;
    background-color: #b2b4c6;
}

.navbar__under__menu{
    
}

.navbar__under__vl{
    border-left: 1px solid white;
    height: 68px;
}

.hr{
    height : 3px;
    background: white;
    margin: 0;
}

.activeMenu{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    border: solid 2.5px black;
    margin: 13.420px -6.5px;
}
